In [2]:
a = 3
b = 5

multiply(a, b)

NameError: name 'multiply' is not defined

In [4]:
list = [11, 36, 33, 66, 89, 21, 32, 16, 10]
even = 0
odd = 0
for i in list:
    if i%2 == 0:
        even+=1
    else:
        odd+=1
print("The number of even numbers : {}".format(even))
print("The number of odd number : {}".format(odd))

The number of even numbers : 5
The number of odd number : 4

In [8]:
list = [11, 36, 33, 66, 89, 21, 32, 16, 10]
even = 0
odd = 0
for i in list:
    if not i%2 :          #modulus 2 her zaman 1 veya 0 verir.
        even+=1
    else:
        odd+=1
print("The number of even numbers:", even)
print("The number of odd number: ", odd)

The number of even numbers: 5
The number of odd number:  4

In [12]:
number=0
for i in range(75):
    number+=i
print(number)

2775

In [1]:
names = ["susan", "tom", "edward"] 
mood = ["happy", "sad"]
for i in names:
    for ii in mood :
     print(i,"is", ii)

susan is happy
susan is sad
tom is happy
tom is sad
edward is happy
edward is sad

In [2]:
liste =[]
for i in range(5):
    liste.append(i)
liste

[0, 1, 2, 3, 4]

# List Comprehension

In [ ]:
for item in iterable :
    expression
    
[expression for item in iterable]

In [4]:
[i for i in range(5)]   # [expression for i in range(5)]

[0, 1, 2, 3, 4]

In [5]:
[i**2 for i in range(5)]

[0, 1, 4, 9, 16]

In [6]:
[i%2 for i in range(5)]

[0, 1, 0, 1, 0]

# Ternary if Statements

In [7]:
condition = True
if condition :
    a = 1
else :
    a = 0
print(a)

1

In [8]:
condition = False
if condition :
    a = 1
else :
    a = 0
print(a)

0

In [ ]:
if_body if condition else else_body

In [10]:
1 if condition else 0

0

In [13]:
condition = False
1 if condition else 0

0

In [11]:
a = 1 if condition else 0
print(a)

0

In [12]:
print(1 if False else 0)

0

In [14]:
liste =[1,2,3,4,5,6]
[i**2 for i in liste]

[1, 4, 9, 16, 25, 36]

In [16]:
[i**2 for i in liste if i % 2]

[1, 9, 25]

In [18]:
all("123")

True

In [19]:
any("123")

True

In [24]:
listA= ["Susan","Tom", False, 0, "0"]
yeni = filter(None, listA)
yeni

In [25]:
listA= ["Susan","Tom", False, 0, "0"]
yeni = filter(None, listA)
for i in yeni:
    print(i)

Susan
Tom
0