In [ ]:
example = "snow world"
print("%s" % example[4:7])

In [ ]:
print("abcd"[2:])

In [ ]:
print(chr(ord('b')+1))

In [ ]:
print(format("Welcome", "10s"), end = '#')
print(format(111, "4d"), end = '#')
print(format(924.656, "3.2f"))

In [ ]:
print("xyyzxyzxzxyy".count('yy', 1))

In [ ]:
print("xyyzxyzxzxyy".endswith("xyy", 0, 2))

In [ ]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for x in list:
    print(x)
    value = (x**2 + 5)
    print(value)
    print("exit the for loop")

In [ ]:
apples = 5
oranges = 10
while apples < oranges:      #True olduğu sürece bu blok icra ediliyor.
    print("executing inside of white block", "apples=",apples)
    apples+=1  #apples = apples+1
print("I am outside of white blocks")

In [ ]:
name = input("What is your name?")
print("Hello " + name)

age = int(input("How old are you?"))

if age >= 70:
    print("Your are aged to perfection.")
else:
    print("You are a spring chicken")

In [ ]:
age = 45 

if age >= 45:
    print("AA")
elif age < 35:
    print("BA")
elif age < 25:
    print("CC")
else:
    print("F")

In [ ]:
hours = int(input("How many hours do you work weekly?"))
rate = int(input("What is your houry payment?"))

if hours <= 40:
    pay = hours * rate
else:
    pay = 40 * rate + (hours - 40) * rate * 1.5

print("Your payment is: " , pay)

In [ ]:
list = [1,2,3,4,5,6,7,8,9,10] # iteration

for x in list:
    print(x)
    value = (x ** 2 + 5)
    print(value)
print("exit the for loop")

In [ ]:
for i in range (25,100, 5):
    print(i * 2)

In [ ]:
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

for i in weekdays:
    print("Today is", i)
print("This is the end of the loop")

In [ ]:
number = int(input("Enter a number"))
if number > 10:
    print("True")
else:
    print("False")

In [ ]:
apples = 5
oranges = 10
while apples < oranges: # True oldugu sürece
    print("executing inside of while block", "apples =", apples)
    apples += 1 # apples = apples + 1
print("I am outside of while blocks")

In [ ]:
# Kahoot -1
oranges = 5
apples = 8
fruit = oranges + apples
if fruit > 10:
    print("Here's some fruit.")
else:
    print("You can't have any.")
print("Have a nice day.")

In [ ]:
# Kahoot-2
oranges = 5
apples = 8
fruit = apples + oranges
limes = 12
oranges = oranges - 1
citrus = oranges + limes
print("Fruit = ", fruit, "Citrus = ", citrus)

In [ ]:
#Kahoot-3
oranges = 5
apples = 8
fruit = apples + oranges
if apples > oranges:
    if fruit < 20:
        print("Make cider.")
    else:
        print("Make fruit salad.")
else:
    print("You should make a orange juice.")
print("Have a nice day!")

In [ ]:
# Kahoot - 4
sets = 3
repetition = 15

for i in range(sets):
    for x in range(repetition):
        print("Go!", x)

In [ ]:
# Kahoot 5
money = 100
while not money < 30:
    print("Sure, you can buy candy.", money)
    money -= 10
print("You should save the rest of your money.")

In [ ]:
#Kahoot 6
apples = 10
while not apples > 8:
    print("Have an apple!")
    apples -= 1

In [ ]:
# Kahoot-7
counter = 3
while counter > 0:
    counter -= 1
    x = 0
    y = -100
    while not y > 150:
        y += 10
        print("x = ", x, "y = ", y)

In [ ]:
# Kahoot 8
x = -100
y = 0
apples = 5
print("Start Position: x = ", x, "y = ", y)
while not apples == 0:
    if apples > 3:
        x += 50
    else:
        y += 50
    apples -= 1
print("Ending Position: x = ", x, "y = ", y)

In [ ]:
list_1 = ['one', 'four', 'nine']
list_1.sort()
list_1

In [ ]:
list_2 = ['@', '*-', 'False']
list_2.sort()
list_2

In [ ]:
ord("*")

In [ ]:
list_3 = [True, False]    #sıralamalarda True 1 olarak, False ise 0 olarak tanımlanır.
list_3.sort()
list_3

In [ ]:
list_4 = [[3], [44], [-12]]
list_4.sort()
list_4

In [ ]:
list_5 = [[1, 3], [44, -40], [-12, 1]]       #sıralamalarda liste içindeki ilk elemanları dikkate alıyor.
list_5.sort()
list_5

In [ ]:
len("a b")

In [ ]:
len(["a b"])    #içinde sadece 1 liste olduğundan ve içindeki değer itirable olduğundan bu listenin eleman sayısı 1 dir.

In [ ]:
len(1234)   #integer type bir itirable değildir. Elemanlarına ayrılmaz.

In [ ]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
city_list=[]
city_list.append(city)
city_list[0][2]
type(city_list[0][2])   #type string olduğundan indekslemeye devam edebilirim.
city_list[0][2][3]

In [ ]:

range(11)
odd_number=list(range(11))
odd_number

In [ ]:
odd_number[1:10:2]

In [ ]:
odd_number[1::2]

In [ ]:
m=[1,[1,"one",2,"two",3,"three"],4]
print(m[1][1::2])

In [ ]:
sehir[:4:-1]

In [ ]:
a=tuple()
type (a)

In [ ]:
star=("solar", 1,[22,"23"])
type (star)                          #virgül ile ayrılan her değeri tuples olarak algılıyor.

In [ ]:
y = 1,               #parantez içine almasak da virgül ile ayrılmış elemanlar tuples olarak algılanır.
type (y)

In [ ]:
z = ("2",)
type (z)

In [ ]:
city = ["los angeles", "beirut","tokya"]
city[0] = True                    #insert ten farklı olarak ilgili indeks de yer alan elemanı silip yerine bunu koyuyor.
city

In [ ]:
city[1:] = "istanbul", "seoul", "ankara"                    #insert ten farklı olarak ilgili indeks de yer alan elemanı silip yerine bunu koyuyor.
city

In [ ]:
city[1:] = ["1", "2", "3", 4, False]                    #insert ten farklı olarak ilgili indeks de yer alan elemanı silip yerine bunu koyuyor.
city

In [ ]:
city[1:]="bangladeş"              #burada string itirable ve her bir elemanını alır. 
city

In [ ]:
m=tuple("alps")
print(m)

In [ ]:
number=tuple (range(1,11))
number

In [ ]:
string_1 = 'I quit smoking'

new_list_1 = list(string_1)  # we created multi element list
print(new_list_1)

new_list_2 = [string_1]  # this is a single element list
print(new_list_2)

mixed_list = [11, 'Joseph', False, 3.14, None, [1, 2, 3]]
print(mixed_list)

city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.insert(2, 'Stockholm')

print(city)

city = ['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.remove('London')
print(city)  # we have deleted 'London'

city = ['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.sort()  # lists the items in alphabetical order
print(city)

colors = ['red', 'purple', 'blue', 'yellow', 'green']
print(colors[2])  # If we start at zero, 
# the second element will be 'blue'.


city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']

city_list = []
city_list.append(city) # we have created a nested list

print(city_list)

city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0]) # access to first and only element

city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0][2])

count = list(range(11))
print(count)

print(count[0:11:2])

animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']

print(animals[:])  # all elements of the list

print(len([[12, 34, 56]]))

odd_no = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(odd_no[7:3:-1])
print(odd_no[2:6:-1])

try_tuple = ('love')

print(try_tuple)

print(type(try_tuple))

try_tuple = ('love',)

print(try_tuple)

print(type(try_tuple))

my_tuple=(1, 4, 3, 4, 5, 6, 7, 4)

my_list = list(my_tuple)

print(type(my_list), my_list)


my_list = [1, 4, 3, 4, 5, 6, 7, 4]

my_tuple = tuple(my_list)

print(type(my_tuple), my_tuple)

mountain = tuple('Alps')
print(mountain) 

mix_value_tuple = (0, 'bird', 3.14, True)

print(len(mix_value_tuple))

even_no = (0, 2, 4)
print(even_no[0])    
print(even_no[1])    
print(even_no[2])   
print(even_no[3])  

city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']

city_list[0] = 'Athens'
city_list[1] = 'Cairo'
print(city_list)

city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']

city_tuple = tuple(city_list)

city_tuple[0] = 'New York'  # you can't assign a value

mix_value = (10, False, 'fruit', 1.618)
mix_value.append(['vegetable', 2+3j])

print(len(mix_value))

grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]
print(grocer[1][1][1:6:2])

text = "My two favorite flowers are tulip and rose, two favorite colors are blue and green."
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
print("My two favorite flowers {} and {},".format(flowers[0][2], flowers[0][1][1]),"two favorite colors are {} and {}.".format(colors[1][0], colors[1][1][1]))

a = float(7)
b = float(10)
c = float(20)
if a + b > c and a + c > b and b + c > a:
       print("V")
else:
       print("X")

escapes = ["\n\t", ("\t", "\t\t"), ["\n", "\n\t\t"]]

sentence = "I am 40 years old. I have two children. Data Science is my IT domain."

print("I am 40 years old.{}I have two children.{}Data Science is may IT domain.".format(escapes[0], escapes[2][1])) 

empty_dict_1 = {}

empty_dict_2 = dict()

empty_dict_1 = {}

print(type(empty_dict_1))

my_dict = {'key1': 'value1',
            'key2': 'value2',
            'key3': 'value3'
            }

state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

print(state_capitals['Colorado']) # accessing method


state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

state_capitals['Virginia'] = 'Richmond' # adding a new item

print(state_capitals)

mix_values = {'animal': ('dog', 'cat'),  # tuple type
              'planet': ['Neptun', 'Saturn', 'Jupiter'],  # list type
              'number': 40,  # int type
              'pi': 3.14,  # float type
              'is_good': True}  # bool type

mix_keys = {22 : "integer",
            1.2 : "float",
            True : "boolean",
            "key" : "string"}

dict_by_dict = dict(animal='dog', planet='neptun', number=40, pi=3.14, is_good=True)

print(dict_by_dict)

dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

print(dict_by_dict.items(), '\n')
print(dict_by_dict.keys(), '\n')
print(dict_by_dict.values())

dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

dict_by_dict.update({'is_bad': False})

print(dict_by_dict)


dict_by_dict = {'animal': 'dog',
               'planet': 'neptun',
               'number': 40,
               'pi': 3.14,
               'is_good': True,
               'is_bad': False}

del dict_by_dict['animal']

print(dict_by_dict) 



dict_by_dict = {'planet': 'neptun',
               'number': 40,
               'pi': 3.14,
               'is_good': True,
               'is_bad': False}

print('pi' in dict_by_dict) 
print('animal' not in dict_by_dict)  # remember, we have deleted 'animal'

student_ages = {"Harry": 29,
                "Clark": 32,
                "Peter": 22,
                "Bruce": 36
                }

print(student_ages["Clark"])

school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },               
        },
        
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },               
        },        
}

school_records={
    "personal_info":
        {"kid":{"tom": {"class":"intermediate", "age":10},
                "sue": {"class":"elementary", "age":8}
               },
         "teen":{"joseph":{"class":"college", "age":19},
                 "marry":{"class":"high school", "age":16}
               },               
        },
}

print(school_records['personal_info']['teen']['marry']['age'])

customers = { 
'bank': 
{1: {'name': 'James', 'age': '27', 'sex': 'Male'}, 
 2: {'name': 'Nicole', 'age': '25', 'sex': 'Female'},  
 3: {'name': 'Andy', 'age': '38', 'sex': 'Male'}, 
 4: {'name': 'Alex', 'age': '19', 'sex': 'Male'}, 
 5: {'name': 'Linda', 'age': '33', 'sex': 'Female'}, 
},
'insurance':
{1: {'name': 'Jashua', 'age': '33', 'sex': 'Male'}, 
 2: {'name': 'Marry', 'age': '66', 'sex': 'Female'},  
 3: {'name': 'Adam', 'age': '56', 'sex': 'Male'}, 
 4: {'name': 'Samuel', 'age': '54', 'sex': 'Male'}, 
 5: {'name': 'Lisa', 'age': '22', 'sex': 'Female'},
},
}


colorset = {'purple', 'orange', 'red', 'darkblue', 'yellow', 'red'}

print(colorset)
print(colorset)

flower_list = ['rose', 'violet', 'carnation', 'rose', 'orchid', 'rose', 'orchid']
flowerset = set(flower_list)
flowerlist = list(flowerset)

print(flowerset) 
print(flowerlist)

a = set('abracadabra')

print(a)

a = set('abracadabra')
b = set('alacazam')

print(a - b)  # same as '.difference()' method
print(a.difference(b)) # a difference from b


a = set('abracadabra')
b = set('alacazam')

print(a | b)  # same as '.union()' method
print(a.union(b)) # unification of a with b

a = set('abracadabra')
b = set('alacazam')

print(a & b)  # same as '.intersection()' method
print(a.intersection(b)) # intersection of a and b

a = set('abracadabra')

a.remove('c') # we delete 'c' from the set
print(a)


a = set('abracadabra')

a.add('c') # we add 'c' again into the set
print(a)

print(set('listen to the voice of enlisted'))

print(len(set('listen to the voice of enlisted')))

numbers = {}

numbers['x'] = 12
numbers['y'] = 4
numbers.update({'z': 3})

print(numbers['x'] + numbers['y'] + numbers['z']**2)

numbers_10 = [10, 30, 40, 50, 60, 70, 80, 90, 100]
numbers_10.insert(1,20)
print(numbers_10)

fruits_vegetables = ["fruit", "vegetable", ["apple", "banana", ["mango", "avocado"]], ["spinach", "broccoli"]]
print(fruits_vegetables[3][0])


family_members = ['Meghan', 'Tom', 'Nicole', 'Tim']
family_members=tuple(family_members)
print(family_members)

a=1
print(-a)

b=-11
print(-b)

a=3
b=4
print("The sum of {} + {} is: {}".format(a, b, a+b))

text="{:.2f}, {:.3f}, {:.4f}".format(3.1463, 5.367, 7.32234) #:.f ifadesi virgülden sonra kaç sayı almak istersek bunu sağlar.
text

text="{:.2s}, {:.3s}, {:.4s}".format("a3.1463", "5.b367", "7.32234c")   #:.s sitring ifadede baştan itibaren kaç karakter almak istersek bunu sağlar.
text

text="{:.2}, {:.3}, {:.4}".format("a3.1463", "5.b367", "7.32234c")   #:. string ifadede baştan itibaren kaç karakter almak istersek bunu sağlar.
text

text="{:>10}".format("test") #10 satırlık bir alanda metni sağa yaslar.
text

text="{:<10}".format("test")   #10 satırlık bir alanda metni sola yaslar.
text

text="formatlama satırı {:>20} bu da textin sonu".format("test")        #20 satırlık bir alanda metni sola ve sağa yaslıyor
text

text="bla bla {:<15} formatlama cümleciği".format("ökkeş")

text="{:^20}".format("abc")
text   #20 karakterlik bir alanda metni ortalamak için :^ kullanıyoruz.

"{:10.5}".format("hippopotamus")   #10 karakterlik bir alanda ilk 5 karakteri almak için

"{:>15.5}".format("hippopotamus")           #15 karakterlik bir alanda ilk 54 karakteri alıp sola yaslamak için

"{:+d}".format(115)             #+115 ilave etmek için +digit kullanıyoruz.

age = input("Are you a cigarette addice older than 75 years old?(True/False):")

chronic = input("Do you have a sever chronic disease?(True/False):")

immune = input("Is your immune system too week?(True/False):")

risk = age or chronic or immune
print(risk)

word = 'happy'
list_2 = list(word)
list_2

list_1 = ['h', 'a', 'p', 'p', 'y']
list_1


list_3=[word]
list_3

type(list_3)

list_3=["word"]
list_3

list_4=["ben bu insanlara ders anlatınca çok rehabilite oluyorum ve dersi iple çekiyorum."]
list_4

list_5=list(list_3)       #list_3 elemanları itirable ve 1 tanedir. list fonksiyonu ise bunu tek elemanlı bir listeye çevirdi.
list_5

list_6=list(list_2)       #list_3 elemanları itirable ve 1 tanedir. list fonksiyonu ise bunu tek elemanlı bir listeye çevirdi.
list_6

my_list = ['Joseph', 'Clarusway', 2020]
new_list1 = list(my_list)  #içine aldığı itirable değerleri elemanlarına ayırdı ve liste yaptı.
new_list2 = [my_list]
new_list1


len(new_list1)

new_list2

len(new_list2)

y=list(2020)
len(y)

y=list("2020")
len(y)

y

t1=["2020's hard"]
t2=list("2020's hard")
t2


t1

nu=[]
nu.append(1)
nu.append(2)
nu.append(3)
nu.append(4)
nu

nu.insert(4,5)
nu

nu=[4,-1,-7]
nu.sort()
print(nu)