In [2]:
"""
jdohoamikea
jmeuiaedoma
uyeahfjeami
"""

'\njdohoamikea\njmeuiaedoma\nuyeahfjeami\n'

In [3]:
1+2

3

In [4]:
1-2

-1

In [5]:
3*4

12

In [6]:
6/3

2.0

In [4]:
a="Hello"
a

'Hello'

In [3]:
b = ["Hello","Francis"]

In [5]:
b[0]

'Hello'

In [6]:
b[1]

'Francis'

In [7]:
print(b)
b

['Hello', 'Francis']

['Hello', 'Francis']

In [8]:
b + [1,2,3,4,5]

['Hello', 'Francis', 1, 2, 3, 4, 5]

In [9]:
c = {"favcolor":"blue"}
c["favcolor"]

'blue'

In [10]:
d = {1,2,3,4,4,4,5,5,6,6,6,6,6,}
d

{1, 2, 3, 4, 5, 6}

In [11]:
if 1 == 1:
    print("Of course")

Of course

In [12]:
if 1 == 2:
    print("Obviously not")

In [13]:
True

True

In [14]:
True or False

True

In [15]:
True and False

False

In [16]:
True or True and False

True

In [17]:
a

'Hello'

In [18]:
b

['Hello', 'Francis']

In [19]:
for item in b:
    print(item)

Hello
Francis

In [20]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [21]:
x = 10
while x>0 :
    print(x)
    x -= 1

10
9
8
7
6
5
4
3
2
1

In [22]:
b[2]

IndexError: list index out of range

In [23]:
try :
    print(b[2])
    
except IndexError:
    print("Item not in list")

Item not in list

In [24]:
def func():
    print("Hello!")

In [25]:
func()

Hello!

In [35]:
class Person:
    def __init__(self):
        print("New Person")
p = Person()

New Person

In [36]:
p

In [37]:
class Francis(Person):
    def__init__(self):
        super().__init__()
        print("My name is Francis")

SyntaxError: invalid syntax (<ipython-input-37-ca1e844c6efd>, line 2)

In [38]:
f = Francis()

NameError: name 'Francis' is not defined

In [39]:
import math

In [41]:
print(math.pi)

3.141592653589793

In [42]:
print(Hello)

NameError: name 'Hello' is not defined

In [43]:
print(4.75,"Hello")

4.75 Hello

In [44]:
print(4)

4

In [45]:
print("4")

4

In [50]:
print(dört)

NameError: name 'dört' is not defined

In [51]:

try : print(dört)

except NameError :
    print("Tanımlanmış bir değer giriniz.")

Tanımlanmış bir değer giriniz.

In [53]:
print("Hello", 'end', 87, False, end='\n')
print("Hello")

Hello end 87 False
Hello

In [56]:
print("Hello", 'end', 87, False, end='|')
print("Hello")

Hello end 87 False|Hello

In [58]:
hello = "Tim"
world = "World"
world = hello
hello = "no"

print(hello, world)

no Tim

In [ ]:
hello_world
helloWorld
hello_world32

In [1]:
name = input("Name: ")
age = input("Age: ")
print("Hello", name, "you are", age, "years old")

Name: Ahmet
Age: 35
Hello Ahmet you are 35 years old

In [2]:
x = 9
y = 3
result = x + y
print(result)

12

In [3]:
"hello"*9

'hellohellohellohellohellohellohellohellohello'

In [5]:
"4"*9

'444444444'

In [11]:
x = 9
y = 3
result = x * y
print(result)

27

In [12]:
x = 9
y = 3
result = x - y
print(result)

6

In [6]:
x = 9
y = 3
result = x / y
print(result)

3.0

In [7]:
x = 9
y = 3
result = int(x / y)
print(result)

3

In [9]:
x = 10
y = 3
result = x // y
print(result)

3

In [10]:
x = 10                  
y = 3
result = x % y
print(result)

1

In [ ]:
|# B E D M A S

In [13]:
x = 10                  
y = 3
result = (x % y)*2
print(result)

2

In [14]:
num = input("Number: ")
print(num-5)

Number: 10

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [15]:
num = input("Number: ")
print(int(num)-5)

Number: 10
5

In [17]:
num = input("Number: ")

try :
    print(num-5)
    
except TypeError:
    print("Numerik değeri string dışında bir değere çeviriniz.")

Number: 10
Numerik değeri integere çeviriniz.

In [18]:
num = input("Number: ")
print(float(num)-5)

Number: 10
5.0

In [19]:
hello = "hello"
print(type(hello))

<class 'str'>

In [22]:
hello = "hello".upper()
print(hello)

HELLO

In [23]:
hello = "hello"
print(hello.upper())

HELLO

In [24]:
hello = "helLO"
print(hello.lower())

hello

In [25]:
hello = "helLO"
print(hello.capitalize())

Hello

In [27]:
hello = "helLO"
print(hello.count("ll"))

0

In [28]:
hello = "helLO"
print(hello.count("lL"))

1

In [30]:
hello = "helLO"
print(hello.lower().count("ll"))

1

In [31]:
x = "hello"
y = 3

print(x*y)

hellohellohello

In [32]:
x = "hello"
y = 3

print(x + y)

TypeError: can only concatenate str (not "int") to str

In [33]:
x = 5
y = 3

print(x + y)

8

In [36]:
x = "hello"
y = " man"

print(x + y)

hello man

In [ ]:
==
!=
<=
>=
<
>

In [38]:
x = "hello"
y = "hello"

print(x == y)

True

In [39]:
x = "hello"
y = "hello"

print(x != y)

False

In [40]:

print("a" > "Z")

True

In [41]:
print(ord("a"))

97

In [42]:
print(ord("Z"))

90

In [43]:

print("ab" > "ad")

False

In [44]:
print(7.5 > 7)

True

In [45]:
print(7.0 == 7)

True

In [5]:
x = 7
y = 8
z = 0

result1 = x == y
result2 = y > x
result3 = z < x+2

In [ ]:
not
and
or

In [7]:
result4 = result1 or not result2 or result3

In [8]:
print(result4)

True

In [10]:
print(not (False or True))

False

In [12]:
print(not(False and True or False))

True

In [14]:
x = input("Name: ")

if x == "Tim":
    print("You are great!")
    print( "Always do this")

Name: Tim
You are great!
Always do this

In [17]:
x = input("Name: ")

if x == "Tim":
    print("You are great!")
    
else :
    print("No")

Name: Jane
No

In [22]:
x = input("Name: ")

if x == "Tim":
    print("You are great!")

elif x != "John":
    print("Enter an another name:")
else :
    print("No")

Name: charlie
Enter an another name:

In [27]:
x = [4, True, "hi"]
y = "hi"
print(x)

[4, True, 'hi']

In [28]:
print(len(x),len(y))

3 2

In [29]:
x = [4, True, "hi"]
x.append("hello")
print(x)

[4, True, 'hi', 'hello']

In [31]:
x = [4, True, "hi"]
x.extend([4,5,5,5,5,6,])
print(x)

[4, True, 'hi', 4, 5, 5, 5, 5, 6]

In [32]:
x.pop()
print(x)

[4, True, 'hi', 4, 5, 5, 5, 5]

In [33]:
print(x.pop())

5

In [35]:
x = [4, True, "hi"]
print(x.pop()) #pop son elemanı alır.
print(x)

hi
[4, True]

In [36]:
x =  "hi"
print(x.pop()) #pop son elemanı alır.
print(x)

AttributeError: 'str' object has no attribute 'pop'

In [39]:
x = [4, True, "hi"]
y = x    #böyle olunca değişkeni atıyoruz. Değişken değerleri değişince y de değişiyor.
x[0] = "hello"
print(x,y)

['hello', True, 'hi'] ['hello', True, 'hi']

In [41]:
x = [4, True, "hi"]
y = x[:]         #Burada ise değişkenin değerlerini atıyoruz. sonrasında x değerler değişse de bunu etkilemiyor.
x[0] = "hello"
print(x,y)

['hello', True, 'hi'] [4, True, 'hi']

In [42]:
x = (0,0,2,2)
x[0] = 5
print(x)

TypeError: 'tuple' object does not support item assignment

In [43]:
x = (0,0,2,2)
x.append(3)
print(x[0])

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
x = [[],(),[[],[],[3,4,5]]]

In [1]:
for i in range(1,10,2):
    print(i)

    
#stop
#start, stop
#start, stop, step

1
3
5
7
9

In [2]:
for i in range(1,10,-2):
    print(i)

In [7]:
for i in range(-10,0,-1):
    print(i)

In [5]:
for i in range(-10,0,1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [10]:
for i in [3,4,8,25,66,21]:
    print(i)

3
4
8
25
66
21

In [9]:
x = [3,4,8,25,66,21]
for i in x:
    print(i)

3
4
8
25
66
21

In [13]:
x = [3,4,8,25,66,21]
for i in range(len(x)):
    print(x[i])

3
4
8
25
66
21

In [14]:
x = [3,4,8,25,66,21]
for i in range(len(x)):
    print(x[i]**2)

9
16
64
625
4356
441

In [1]:
x = [3,4,8,25,66,21]
for i,element in enumerate(x):
    print(i,element,x[i]**2)

0 3 9
1 4 16
2 8 64
3 25 625
4 66 4356
5 21 441

In [6]:
x = [3,4,42,3,2,4]

i = 0
while i < 10:
    print("run")
    i += 1

run
run
run
run
run
run
run
run
run
run

In [7]:
x = [3,4,42,3,2,4]

i = 0
while True:
    print("run")
    i += 1
    if i == 10 :
        break

run
run
run
run
run
run
run
run
run
run

In [9]:
x = [0,1,2,3,4,5,6,7,8]
y = ["hi","hello","goodbye","cya","sure"]
z = "hello"

sliced = x[0:4:1]   # stop dahil etmiyoruz. Son karakteri.

print(sliced)

[0, 1, 2, 3]

In [11]:
x = [0,1,2,3,4,5,6,7,8]
y = ["hi","hello","goodbye","cya","sure"]
z = "hello"

sliced = x[4:2:-1]

print(sliced)

[4, 3]

In [13]:
sliced = (1,2,3,4,4,4,5,5,5,5,6)[::2]

print(sliced)

(1, 3, 4, 5, 5, 6)

In [19]:
x = set()
s = {4,32,2,2}
print(type({}))

s.add(5)
s.remove(2)

print(s)

print(33 in s)

print(2 in s)

<class 'dict'>
{32, 4, 5}
False
False

In [20]:
s = {4,32,2,2}
s2 = {3,4,22,1}

print(s.union(s2))

{32, 1, 2, 3, 4, 22}

In [21]:
print(s.difference(s2))

{32, 2}

In [22]:
print(s.intersection(s2))

{4}

In [23]:
x = {"key": 4}
print(x["key"])

4

In [24]:
x = {"key": 4}

x["key2"] = 5

print(x)

{'key': 4, 'key2': 5}

In [25]:
x = {"key": 4}

x["key2"] = 5
x[2] = [2,2,1,1]

print(x)

{'key': 4, 'key2': 5, 2: [2, 2, 1, 1]}

In [26]:
x = {"key": 4}



print("key" in x)

True

In [27]:
x = {"key": 4}



print("value" in x)

False

In [29]:
x = {"key": 4}



print(x.values())

dict_values([4])

In [31]:
x = {"key": 4}



print(list(x.values()))

[4]

In [32]:
x = {"key": 4}



print(list(x.keys()))

['key']

In [34]:
x = {"key": 4}


del x["key"]
print(x)
print(list(x.keys()))

{}
[]

In [35]:
x = {"key": 4}
for key,value in x.items():
    print(key,value)

key 4

In [37]:
x = {"key": 4}
for key in x:
    print(key,x[key])

key 4

In [38]:
x = [x for x in range(5)]
print(x)

[0, 1, 2, 3, 4]

In [40]:
x = [[0 for x in range(100)] for x in range(5)]
print(x)

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [41]:
x = [[x for x in range(100)] for x in range(5)]
print(x)

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]]

In [44]:
x = [x for x in range(100) if x % 5 == 0]
print(x)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [46]:
x = {x:0 for x in range(100) if x % 5 == 0}
print(x)

{0: 0, 5: 0, 10: 0, 15: 0, 20: 0, 25: 0, 30: 0, 35: 0, 40: 0, 45: 0, 50: 0, 55: 0, 60: 0, 65: 0, 70: 0, 75: 0, 80: 0, 85: 0, 90: 0, 95: 0}

In [45]:
x = {x:x for x in range(100) if x % 5 == 0}
print(x)

{0: 0, 5: 5, 10: 10, 15: 15, 20: 20, 25: 25, 30: 30, 35: 35, 40: 40, 45: 45, 50: 50, 55: 55, 60: 60, 65: 65, 70: 70, 75: 75, 80: 80, 85: 85, 90: 90, 95: 95}

In [47]:
x = tuple(x for x in range(100) if x % 5 == 0)
print(x)

(0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95)

In [48]:
def func():
    print("Run")

func()

Run

In [49]:
def func():
    print("Run")
    def func():
        print("hi")
    func()
func()

Run
hi

In [56]:
def func(x,y):
    print("Run",x,y)
    return x*y, x/y, x+y, x-y
func(5,6)

Run 5 6

(30, 0.8333333333333334, 11, -1)

In [2]:
def func(x, y, z=None):
    print("Run",x,y,z)
    return x+y, x-y

r1, r2 = func(5,6,7)
print(r1, r2)

Run 5 6 7
11 -1

In [3]:
def func(x):
    def func2(x):
        print(x)
    
    return func2

print(func(3))

<function func.<locals>.func2 at 0x000001CBE2349C10>

In [11]:
def func(x):
    def func2(x):
        print(x)
    
    return func2

print(func(3)(3))

3
None

In [13]:
def func(*args, **kwargs):
    pass

x = [1,23,2363663,2727]
print(x)
print(*x)

[1, 23, 2363663, 2727]
1 23 2363663 2727

In [14]:
def func(x, y):
    print(x,y)

pairs = [(1,2), (3,4)]

for pair in pairs:
    func(pair[0], pair[1])

1 2
3 4

In [16]:
def func(x, y):
    print(x,y)

pairs = [(1,2), (3,4)]

for pair in pairs:
    func(*pair)

1 2
3 4

In [18]:
def func(x, y):
    print(x,y)

pairs = [(1,2), (3,4)]

for pair in pairs:
    func(**{"x":2, "y":5})

2 5
2 5

In [22]:
def func(*args, ** kwargs):
    print(args, kwargs)

func(1,2,3,4,5,one=0,two=1)

(1, 2, 3, 4, 5) {'one': 0, 'two': 1}

In [24]:
def func(*args, ** kwargs):
    print(*args)
    
func(1,2,3,4,5,one=0,two=1)

1 2 3 4 5

In [25]:
def func(*args, ** kwargs):
    print(**kwargs)
    
func(1,2,3,4,5,one=0,two=1)

TypeError: 'one' is an invalid keyword argument for print()

In [26]:
def func(*args, ** kwargs):
    print(one=0,two=1)
    
func(1,2,3,4,5,one=0,two=1)

TypeError: 'one' is an invalid keyword argument for print()

In [27]:
x = "Tim"

def func(name):
    x = name

print(x)
func("changed")
print(x)

Tim
Tim

In [28]:
x = "Tim"

def func(name):
    global x
    x = name

print(x)
func("changed")
print(x)

Tim
changed

In [29]:
raise Exception("Bad")

Exception: Bad

In [31]:
raise FileExistError("")

NameError: name 'FileExistError' is not defined

In [34]:
x = 7/0

ZeroDivisionError: division by zero

In [32]:
try :
    x = 7/0
    
except Exception as e:
    print(e)

division by zero

In [35]:
try :
    x = 7/0
    
except Exception as e:
    print(e)

finally :
    print("finally")

division by zero
finally

In [37]:
x = lambda x: x + 5

print(x(2))

7

In [38]:
x = lambda x, y: x + y

print(x(2,32))

34

In [40]:
x = [1,2,4,5,3,3,21,2,313,1,23,142]

mp = map(lambda i: i * 2, x)

print(list(mp))

[2, 4, 8, 10, 6, 6, 42, 4, 626, 2, 46, 284]

In [46]:
x = [1,2,4,5,3,3,21,2,21,313,1,23,142,4]

mp = filter(lambda i: i % 2 == 0, x)

print(list(mp))

[2, 4, 2, 142, 4]

In [44]:
x = [1,2,4,5,3,3,21,2,313,1,23,142]

def func(i):
    i = i * 3
    return i % 2 == 0

mp = filter(lambda i: i % 2 == 0, x)

print(list(mp))

[2, 4, 2, 142]

In [47]:
x = [1,2,4,5,3,3,21,2,313,1,23,142]

def func(i):
    i = i * 3
    return i % 2 == 0

mp = filter(func, x)

print(list(mp))

[2, 4, 2, 142]

In [51]:
tim = 89
x = f"Hello {6+8} {tim} {67+9}"
print(x)
print(f"Hello {tim}")

Hello 14 89 76
Hello 89

In [52]:
x = [1,2,4,5,3,3,21,2,313,1,23,142]

mp = filter(lambda i: i % 2 == 0, x)

print(list(mp))

[2, 4, 2, 142]

In [17]:
name = "Bro Code"

In [18]:
print(len(name))

8

In [19]:
print(name.find("o"))

2

In [20]:
print(name.capitalize())

Bro code

In [21]:
print(name.upper())

BRO CODE

In [22]:
print(name.lower())

bro code

In [23]:
print(name.isdigit())

False

In [24]:
print(name.isalpha())

False

In [25]:
print(name.count("b"))

0

In [26]:
print(name.replace("o","a"))

Bra Cade

In [27]:
print(name*3)

Bro CodeBro CodeBro Code

In [28]:
x = 1  #integer
y = 2.0 #float
z = "30"     #string

In [29]:
x = str(x)
y = str(y)
z = str(z)

In [31]:
print(x)
print(y)
print(z*3)

1
2.0
303030

In [32]:
print(z+3) # str ile int değerleri concatenate yapamayız.

TypeError: can only concatenate str (not "int") to str

In [36]:
x = 1  #integer
y = 2.0 #float
z = "30"     #string

In [37]:
x = int(x)
y = int(y)
z = int(z)

In [38]:
print(x)
print(y)
print(z+3)

1
2
33

In [39]:
print("3"+ x)  #tırnak içindeki ifade bir string değerdir.

TypeError: can only concatenate str (not "int") to str

In [42]:
name = input("What is your name?: ")
age = int(input("How old are you?: "))
height = float(input("How tall are you?: "))

What is your name?: Alex
How old are you?: 35
How tall are you?: 180

In [45]:
print("Hello " + name)
print("You are " + str(age)+ " years old.")
print("You are " + str(height)+" cm tall.")

Hello Alex
You are 35 years old.
You are 180.0 cm tall.

In [50]:
input("What is your name?: ")

What is your name?: Bro

'Bro'

In [51]:
name = input("What is your name?: ")

What is your name?: Bro

In [63]:
print("hello", name)

hello Bro

In [62]:
print("hello " + name)

hello Bro

In [73]:
pi = 3.14
x = 1
y = 2
z = 3

In [74]:
import math

In [75]:
print(round(pi))
print(math.ceil(pi))
print(math.floor(pi))
print(abs(pi))
print(pow(pi,2))
print(math.sqrt(420))
print(max(x,y,z))

3
4
3
3.14
9.8596
20.493901531919196
3

In [70]:
pi = -3.14
x = 1
y = 2
z = 3

In [76]:
print(round(pi))     # en yakın integer sayıya yuvarlar.
print(math.ceil(pi)) # yukarı en yakın integer sayıya yuvarlar.
print(abs(pi))       # Return the absolute value of a number
print(pow(pi,3))     # The pow() function returns the value of x to the power of y (xy).
print(math.sqrt(420))
print(max(x,y,z))

3
4
3.14
30.959144000000002
20.493901531919196
3

In [85]:
name = "Bro Code"

first_name = name[::2]
last_name = name[0:2:]
reversed_name = name[::-1]
print(first_name, last_name, reversed_name)

BoCd Br edoC orB

In [6]:
website1 = "http://google.com"
website2 = "http://wikipedia.com"

In [8]:
sliced = slice(7,-4)  # The slice() function returns a slice object.A slice object is used to specify how to slice a sequence. slice(start, end, step)
print(website1[sliced])
print(website2[sliced])

google
wikipedia

In [16]:
#if statement = a block of code that will execute if its condition is true.

age = int(input("How old are you? "))


if age >= 18: 
    print("You are an adult!")    
    
elif age == 100:                         # 100 girdiğimizde bunu yazdırmadığından bunu ilk condition olarak alıyoruz aşağıdaki gibi.
    print("You are a century old!")

elif age < 0:
    print("You have not been born yet!")

else :
    print("You are a child!")

How old are you? 100
You are an adult!

In [15]:
#if statement = a block of code that will execute if its condition is true.

age = int(input("How old are you? "))


if age == 100:
    print("You are a century old!")
    
elif age >= 18:
    print("You are an adult!")

elif age < 0:
    print("You have not been born yet!")

else :
    print("You are a child!")

How old are you? 100
You are a century old!

In [ ]:
# logical operator (not, and ,or ) = is used to check two or more conditional statement

In [18]:
temp = int(input("What is the temperature outside?: "))

if temp >= 0 and temp <= 30:
    print("The temperature is good today.")
    print("go outside.")
    
elif temp < 0 or temp >30:
    print("The temperature is bad today.")
    print("stay inside.")

What is the temperature outside?: -20
The temperature is bad today.
stay inside.

In [19]:
temp = int(input("What is the temperature outside?: "))

if not(temp >= 0 and temp <= 30):           #yukarıdakinden farklı olarak not ilave ettik.
    print("The temperature is good today.")
    print("go outside.")
    
elif not(temp < 0 or temp >30):
    print("The temperature is bad today.")
    print("stay inside.")

What is the temperature outside?: -20
The temperature is good today.
go outside.

In [ ]:
# while loop = a statement that will execute its block of code, as long as its condition remains true.

while 1==1:
    print("Help!I am stuck in loop!")

In [21]:
name = ""

while len(name) == 0:
    name = input("Enter your name: ")
    
print("Hello " + name)

Enter your name: alyans
Hello alyans

In [ ]:
# for loop = a statement that will execute its block of code, a limited amount of time.

## for loop = limited

## while loop = unlimited

In [2]:
import time

In [3]:
for i in range(5):
    print(i+1)

1
2
3
4
5

In [4]:
for i in range(50,55+1,2):
    print(i)

50
52
54

In [5]:
for i in "Clarusway":
    print(i)
    print(i+"1")

C
C1
l
l1
a
a1
r
r1
u
u1
s
s1
w
w1
a
a1
y
y1

In [9]:
for seconds in range(10,0,-1):
    print(seconds)
    time.sleep(1)
    
print("İyi ki doğdun NEŞEMMMMMM!!!!")

10
9
8
7
6
5
4
3
2
1
İyi ki doğdun NEŞEMMMMMM!!!!

In [4]:
# nested loops = The inner loop will finish all of its iterations before finishing one iteration of the outer loop.

rows = int(input("How many rows?: "))
columns = int(input("How many columns?: "))
symbol = input("Enter a symbol to use: ")

for i in range(rows):              # outer loop          
    for j in range(columns):       # inner loop
        print(symbol, end="")
    print()
    
   # 00 01 02 03 04           # ilk önce outer loop ilk iterable ile sırasıyla inner loop tüm iterable ları döngüye sokulur. Sonra diğerleri devam eder.
   # 10 11 12 13 14
   # 20 21 22 23 24
   # 30 31 32 33 34
   # 40 41 42 43 44

How many rows?: 5
How many columns?: 4
Enter a symbol to use: *
****
****
****
****
****

In [ ]:
# loop control statements = change a loops execution from its normal sequence

# break = used to terminate the loop entirely.
# continue = skips to the next iteration of the loop.
# pass = does nothing, acts as a placeholder.

In [2]:
while True:
    name = input("Enter your name: ")
    if name != "":
        break

Enter your name: ali

In [3]:
phone_number = "123-456-7890"

for i in phone_number:
    if i == "-":
        continue
    print(i, end="")

1234567890

In [8]:
for i in range(1,21):
    
    if (i % 2 == 0):
        pass
    else:
        print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# list = used to store multiple items in a single variable.

In [13]:
food = ["pizza", "hamburger", "hotdog", "spaghetti","pudding"]

food[0] = "sushi" # list in ilk iterable ın yerine bu değeri atıyor.

print(food[:])

['sushi', 'hamburger', 'hotdog', 'spaghetti', 'pudding']

In [16]:
food.append("ice cream")
food.remove("hotdog")
food.pop()
food.insert(0,"cake")
food.sort()
food.clear()

for x in food :
    print(x)

ValueError: list.remove(x): x not in list

In [11]:
# 2D Lists = a list of lists

In [12]:
food = ["pizza", "hamburger", "hotdog", "spaghetti","pudding"]
food = ["pizza", "hamburger", "hotdog", "spaghetti","pudding"]

food = [food,food]
print(food)

[['pizza', 'hamburger', 'hotdog', 'spaghetti', 'pudding'], ['pizza', 'hamburger', 'hotdog', 'spaghetti', 'pudding']]

In [13]:
print(food[1][2])

hotdog

In [ ]:
# tuple = collection which is ordered and unchangable used to group together related data.

In [14]:
student = ("Bro", 21, "Male")

print(student.count("Bro"))
print(student.index("Male"))

1
2

In [15]:
for x in student :
    print(x)

Bro
21
Male

In [16]:
if "Bro" in student :
    print("Bro is here")

Bro is here

In [ ]:
# set = collection which is unordered, unindexed. No duplicate values

In [20]:
utensils = {"fork", "spoon", "knife","knife","knife"}  # aynı olan itemlar bir kez yazılır.

utensils.add("napkin")    # add func içindeki değeri ilave eder.
utensils.remove("fork")
utensils.clear()         # clear func içine değer almaz tüm değerleri temizler.
for x in utensils :
    print(x)

In [26]:
utensils = {"fork", "spoon", "knife","knife","knife"}  # aynı olan itemlar bir kez yazılır.
dishes = {"bowl","plate","cup"}

dinner_table = utensils.union(dishes)

print(utensils.difference(dishes))
print(dishes.difference(utensils))
print(utensils.intersection(dishes))

for x in dinner_table :
    print(x)

{'knife', 'spoon', 'fork'}
{'plate', 'cup', 'bowl'}
set()
knife
fork
bowl
cup
plate
spoon

In [ ]:
# dictionary = A changeable, unordered collection unique key: value pairs Fast because they use hashing, allow us to access a value quickly