In [2]:
def square(x):
    return x**2

In [3]:
square(6)

36

In [ ]:
lambda x:x**2

In [7]:
lambda x, y: (x+y)/2  # takes two numbers, returns the result

In [5]:
lambda x: "odd" if x % 2 != 0 else "even"  #burada klasik if yapıları kullanılmaz. Bu şekildeki if yapıları kullanılmalıdır.
                                        #bölüm 0 eşit değilse True döndür yani solu döndür.

In [9]:
lambda x: "odd" if x % 2 != 0 else "even"

In [10]:
print((lambda x : x**2 )(2))

4

In [ ]:
print((lambda x, y: (x+y)/2)(3, 5))  # takes two int, returns mean of them

In [11]:
average = (lambda x, y: (x+y)/2)(3, 5) 
print(average)

4.0

In [ ]:
average = lambda x, y: (x+y)/2
print(average(3, 5))  # we call

In [16]:
print((lambda x : x [::-1])("Sen nereden geliyorsun biliyor musun?")) #yazılan bir iterable tersten yazma

?nusum royilib nusroyileg nederen neS

In [17]:
print((lambda x: "odd" if x % 2 != 0 else "even")[1,2,3,4])

<>:1: SyntaxWarning: 'function' object is not subscriptable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'function' object is not subscriptable; perhaps you missed a comma?
<ipython-input-17-96c4b96f8659>:1: SyntaxWarning: 'function' object is not subscriptable; perhaps you missed a comma?
  print((lambda x: "odd" if x % 2 != 0 else "even")[1,2,3,4])

TypeError: 'function' object is not subscriptable

In [14]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    print(i, ":",(lambda x : "even" if i % 2 == 0 else "odd")(x))

1 : odd
2 : even
3 : odd
4 : even
5 : odd
6 : even
7 : odd
8 : even
9 : odd
10 : even

In [22]:
iterable = "clarusway"

In [24]:
reverser = lambda x : x[::-1]
reverser(iterable)

'yawsuralc'

In [ ]:
# The basic formula syntax is : map(function, iterable)  tek tek iterable değerlerini func içine uyguluyor ve a+b+c şeklinde bir object üretiyor.

In [32]:
iterable=[1,2,3,4,5]
map(lambda x:x**2,iterable)
result = map(lambda x:x**2,iterable)  #it is a map type

print(type(result))
print(list(result))  #we have converted it to list type to print
print(list(map(lambda x: x**, iterable)))  #you can print directly

SyntaxError: invalid syntax (<ipython-input-32-000d4425d645>, line 7)

In [28]:
rakamlar = [1,2,3,4,5]

In [29]:
def square(n):
    return n **2

In [30]:
result = map (square, rakamlar)

In [31]:
for i in result :
    print(i)

1
4
9
16
25

In [33]:
letter1 = ["o", "s","t","t"]
letter2 = ["n", "i","e","w"]
letter3 = ["e", "x","n","o"]
numbers = map(lambda x,y,z : x+y+z, letter1,letter2,letter3) #x+y+z string olanları concanete yaparken int olanları toplar.
                                                            #her iterable in ilk harflerini alarak sırasıyla yazar ve objectler oluşmaya başlar.
print(list(numbers))

['one', 'six', 'ten', 'two']

In [38]:
letter1 = [1, 2, 3, 4]
letter2 = [3, 6, 7, 8]
letter3 = [4, 10, 2, 1]
numbers = map(lambda x,y,z : x+y+z, letter1,letter2,letter3) #x+y+z string olanları concanete yaparken int olanları toplar.
                                                            #her iterable in ilk harflerini alarak sırasıyla yazar ve objectler oluşmaya başlar.
print(list(numbers))

[8, 18, 12, 13]

In [36]:
nums1 = [9,6,7,4]
nums2 = [3,6,5,8]
ort = map(lambda x,y : (x+y)/2, nums1, nums2)

print(list(ort))

[6.0, 6.0, 6.0, 6.0]

In [9]:
kelimeler = ["ali veli deli", "mehmet'in kuzeni", "cemilin-bacısı"]
uzunluk = map(lambda x: len, kelimeler)

print(list(uzunluk))

[<map object at 0x000001CF745F53A0>, <map object at 0x000001CF745F53A0>, <map object at 0x000001CF745F53A0>]

In [1]:
kelimeler = ["ali veli deli", "mehmet'in kuzeni", "cemilin-bacısı"]
list(map(len, kelimeler))

[13, 16, 14]

In [6]:
list(map(sorted,kelimeler))

[[' ', ' ', 'a', 'd', 'e', 'e', 'i', 'i', 'i', 'l', 'l', 'l', 'v'],
 [' ',
  "'",
  'e',
  'e',
  'e',
  'h',
  'i',
  'i',
  'k',
  'm',
  'm',
  'n',
  'n',
  't',
  'u',
  'z'],
 ['-', 'a', 'b', 'c', 'c', 'e', 'i', 'i', 'l', 'm', 'n', 's', 'ı', 'ı']]

In [13]:
echo_word = lambda x,y : x * y
print(echo_word("hello",3))

hellohellohello

In [17]:
letter1 = ["you","much","hard"]
letter2 = ["ı","you","he"]
letter3 = ["love","ate","works"]
numbers = map(lambda x,y,z : y + " "+ z + " " + x, letter1,letter2,letter3) #x+y+z string olanları concanete yaparken int olanları toplar.
                                                            #her iterable in ilk harflerini alarak sırasıyla yazar ve objectler oluşmaya başlar.
print(list(numbers))

['ı love you', 'you ate much', 'he works hard']

In [18]:
letter1 = ["you","much","hard"]
letter2 = ["ı","you","he"]
letter3 = ["love","ate","works"]
numbers = map(lambda x,y,z : x + " "+ y + " " + z, letter2,letter3,letter1) #x+y+z string olanları concanete yaparken int olanları toplar.
                                                            #her iterable in ilk harflerini alarak sırasıyla yazar ve objectler oluşmaya başlar.
print(list(numbers))

['ı love you', 'you ate much', 'he works hard']

In [22]:
first_ten = [0,1,2,3,4,5,6,7,8,9]

even = filter(lambda x:x%2==0, first_ten)   #iterable her bir elemanına true mu false mu döndürür sorar ona göre sonucu alır.
print(type(even))  #it's "filter" type,
                   #in order to print the result,
                   #we'd better convert it into the list type
        
print("Even numbers are :", list(even))

<class 'filter'>
Even numbers are : [0, 2, 4, 6, 8]

In [21]:
first_ten = [0,1,2,3,4,5,6,7,8,9]

odd = filter(lambda x:x%2!=0, first_ten)   #iterable her bir elemanına true mu false mu döndürür sorar ona göre sonucu alır.
print(type(odd))  #it's "filter" type,
                   #in order to print the result,
                   #we'd better convert it into the list type
        
print("Even numbers are :", list(odd))

<class 'filter'>
Even numbers ar : [1, 3, 5, 7, 9]

In [1]:
words = ["apple", "swim", "clock", "me", "kiwi", "banana"]
print(list(filter(lambda x: len(x)<5, words)))

['swim', 'me', 'kiwi']

In [2]:
first_ten = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
sesli = ["a", "e", "i", "o", "u"]
filtered_words = filter(lambda x: x in sesli, first_ten)        
print(*filtered_words)

a e i

In [3]:
first_ten = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
sesli = ["a", "e", "i", "o", "u"]
vowels = filter(lambda x: True if x in sesli else False, first_ten)        
print("vowels are : ", list(vowels))

vowels are :  ['a', 'e', 'i']

# ROBOT SORUSU

In [11]:
C = ["right 20", "right 30", "left 50", "down 20", "up 10"]

In [ ]:
# [0, -10]

In [14]:
x = y = 0  #bunlar integer koordinatlar.

for i in range(len(C)):  #uzunluk 0-4 olduğundan 4 döndürecek. Böylece elemanları indekslemiş oldum.
    if C[i].startswith("r"): x = x + int(C[i].split()[1])  #string değeri integere çevirdik.
    elif C[i].startswith("l"): x = x - int(C[i].split()[1])    
    elif C[i].startswith("u"): y = y + int(C[i].split()[1])
    elif C[i].startswith("d"): y = y - int(C[i].split()[1])
[x, y]

[0, -10]

In [6]:
C[0].split()

['right', '20']

In [7]:
C[0].split()[1]  #string bir değer verdi bize.

'20'

In [6]:
number_list = [1, 2, 3, 4, 5]

result = list(map(lambda x : x+x+x, number_list))
print(result)

[3, 6, 9, 12, 15]

In [7]:
number_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
result = print(list(filter(lambda x:x>=6, number_list)))

[6, 7, 8, 9, 10]

In [9]:
number_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

result = list(filter(lambda x:x>=6, number_list))
print(result)

[6, 7, 8, 9, 10]

In [11]:
def modular_function(n):
    return lambda x: x ** n
    
power_of_2 = modular_function(2)  # first sub-function derived from def
power_of_3 = modular_function(3)  # second sub-function derived from def
power_of_4 = modular_function(4)  # third sub-function derived from def

print(power_of_2(2))  # 2 to the power of 2
print(power_of_3(2))  # 2 to the power of 3
print(power_of_4(2))  # 2 to the power of 4

4
8
16

In [12]:
def repeater(n):
    return lambda x: x * n
    
repeat_2_times = repeater(2)  # repeats 2 times
repeat_3_times = repeater(3)  # repeats 3 times
repeat_4_times = repeater(4)  # repeats 4 times

print(repeat_2_times('alex '))
print(repeat_3_times('lara '))
print(repeat_4_times('linda '))

alex alex
lara lara lara
linda linda linda linda

In [13]:
def modular_function(n):
    return lambda x: x ** n

power_of_3 = modular_function(3)
print(power_of_3(5))

125

In [14]:
print((lambda x: x**3)(5))

125

In [15]:
mean = lambda x, y: (x+y)/2
print(mean(8, 10))

9.0

In [16]:
multiply = lambda x: x * 4
add = lambda x, y: x + y
print(add(multiply(10), 5))

45

In [17]:
number_list = [1, 2, 3, 4]
result = map(lambda x:x**3, number_list)
print(list(result))

[1, 8, 27, 64]

In [18]:
number_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] 
divisible_list = filter(lambda x:x%3==0, number_list) 
print(list(divisible_list))

[0, 3, 6, 9, 12]

In [4]:
square = lambda x: x**2
print(square(5))

25

In [13]:
number_list = [1, 2, 3, 4, 5]

result = list(map(lambda x : x**2, number_list))
print(result)

[1, 4, 9, 16, 25]

In [14]:
number_list = [1, 2, 3, 4, 5]

result = print(list(map(lambda x : x**2, number_list)))

[1, 4, 9, 16, 25]

In [18]:
number_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

result= filter(lambda x: x%2!=0, number_list)
print(list(result))

[1, 3, 5, 7, 9]

In [23]:
number_list = [1, 2, 3, 4, 5]

result = map(lambda x : x**2, number_list)
print(list(result))

[1, 4, 9, 16, 25]