In [1]:
def san(x):
 print(x+1)
x=-2
x=4
san(12)

13

In [2]:
def foo(fname, val):
 print(fname(val))
foo(max, [1, 2, 3])
foo(min, [1, 2, 3])

3
1

In [5]:
count = 0
my_string = "Clarusway"
my_char = "a"
for i in my_string:
    if i == my_char:
        count += 1
print(count)

2

In [6]:
num = 2013
reversed_num = 0
while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10
    
print(reversed_num)

3102

In [8]:
2013//10

201

In [7]:
f=lambda x:bool(x%2)
print(f(20), f(21))

False True

In [9]:
f=lambda x:bool(x%2)
print(f(20))

False

In [11]:
bool(0)

False

In [ ]:
6. A command that lets you change one or more field in 
a table is?
A. INSERT
B. MODIFY  #
C. LOOK-UP
D. All of the above

In [ ]:
7. Which of the following is not a valid aggregate 
function?
A. COUNT
B. COMPUTE #
C. SUM
D. MAX

In [ ]:
8. Which data manipulation command is used to combines 
the records from one or more tables?
A. SELECT
B. PROJECT
C. JOIN   #
D. PRODUCT

In [ ]:
9. Which operator is used to compare a value to a 
specified list of values?
A. ANY
B. BETWEEN
C. ALL
D. IN   #

In [ ]:
10. What operator tests column for absence of data?
A. NOT Operator
B. Exists Operator
C. IS NULL Operator    #
D. None of the above

In [ ]:
11. Which of the following is NOT among the DevOps 
processes?
A. Continuous Monitoring   
B. Continuous Deployment
C. Continuous Building     #
D. Continuous Development

In [ ]:
12. Which of the following is NOT among the DevOps phases?
A. Code
B. Deploy
C. Operate
D. Requirement  #

In [ ]:
13. How can you open a link in a new tab/browser window?
A. <a href="url" target="new"> 
B. <a href="url" new>
C. <a href="url" target="_blank">  #
D. None

In [ ]:
14. Choose the correct HTML element for the largest 
heading:
A. <h1>    #
B. <head>
C. <heading>
D. <h6>

In [ ]:
15. What is the correct HTML for creating a hyperlink?
A. <a name="http://www.clarusway.com">clarusway</a> 
B. <a href="http://www.clarusway.com">clarusway</a>   #
C. <a url="http://www.clarusway.com">clarusway</a>
D. <a> http://www.clarusway.com">clarusway</a>

In [ ]:
1. Who is a DevOps engineer?
2. What do you mean by table and field in SQL?