In [1]:
print("Hello World")

Hello World

In [2]:
print('Hello World!')

Hello World!

In [3]:
print("""Merhaba!""")

Merhaba!

In [4]:
print('''Merhaba!''')

Merhaba!

In [5]:
print("3.14")

3.14

In [6]:
print(3.14)

3.14

In [9]:
print(''''Merhaba!"''')

'Merhaba!"

In [12]:
print(''''''')

SyntaxError: EOL while scanning string literal (<ipython-input-12-517c3aa53c1a>, line 1)

In [1]:
def motto() :
    print("Don't hesitate to reinvent yourself!")

motto()

Don't hesitate to reinvent yourself!

In [2]:
def multiply_1(a, b) :
    print(a * b)  # it prints something

def multiply_2(a, b) :
    return a * b  # returns any numeric data type value

multiply_1(10, 5)
print(multiply_2(10, 5))

50
50

In [3]:
print(type(multiply_1(10, 2)))
print(type(multiply_2(10, 5)))

20
<class 'NoneType'>
<class 'int'>

In [4]:
shadow_var = print("It can't be assigned to any variable")
print(shadow_var)  # NoneType value can't be used

It can't be assigned to any variable
None

In [6]:
def my_function(width,height):
    area = width*height
    return area

In [9]:
import datetime

In [11]:
first_name = "Susan"
print("task completed")
print(datetime.datetime.now())
print()

for i in range(0,10):
    print(i)
print("task completed")
print(datetime.datetime.now())
print()

task completed
2021-09-10 12:11:33.923398

0
1
2
3
4
5
6
7
8
9
task completed
2021-09-10 12:11:33.923398

In [14]:
import time

In [15]:
def print_time():
    print("task completed")
    print(datetime.datetime.now())
    print()
        
first_name= "Susan"
print_time()

for seconds in range(10,0,-1):
    print(seconds)
    time.sleep(1)
print_time()

task completed
2021-09-10 12:16:25.351214

10
9
8
7
6
5
4
3
2
1
task completed
2021-09-10 12:16:35.417430

In [20]:
first_name = input("Enter your first name: ")
first_name_initial = first_name[0:1]

last_name = input("Enter your last name: ")
last_name_initial = last_name[0:1]

print("Your initials are:" + first_name_initial + last_name_initial)

Enter your first name: ali
Enter your last name: veli
Your initials are:av

In [23]:
def get_initial(name):
    initial = name[0:1]
    return initial

first_name = input("Enter your first name: ")
first_name_initial = get_initial(first_name)

last_name = input("Enter your last name: ")
last_name_initial = get_initial(last_name)

print("Your initials are:" + first_name_initial + last_name_initial)

Enter your first name: ali
Enter your last name: veli
Your initials are:av

In [25]:
def get_initial(name):        
    initial = name[0:1].upper()      #görüldüğü gibi func içinde bir değişiklik yapmak istediğimizde daha kolay oluyor.
    return initial

first_name = input("Enter your first name: ")
first_name_initial = get_initial(first_name)

last_name = input("Enter your last name: ")
last_name_initial = get_initial(last_name)

print("Your initials are:" + first_name_initial + last_name_initial)

Enter your first name: ali
Enter your last name: veli
Your initials are:AV

In [29]:
def get_initial(name):
    initial = name[0:1].upper()
    return initial

first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")


print("Your initials are:" \                  # daha az kod ile yazabiliyoruz.
      + get_initial(first_name) \
      + get_initial(last_name))

Enter your first name: ali
Enter your last name: veli
Your initials are:AV

In [3]:
def my_function(a, b):
    hypotenuse = (a**2 + b**2)**0.5
    return hypotenuse

my_function(3,4)

5.0

### Fill in the blanks indicated by ... to define a function that compares the lengths of its iterable arguments and returns the longer one. Try this function to compare the lengths of "Richard" and "John". Name your function longer and if the lengths of arguments are the same return the first one. After you define the longer function, call and print the result. Hint : Don't forget to use the keyword return.

In [4]:
def longer(a, b):
    if len(a) >= len(b):
        return a
    else:
        return b

print(longer('Richard', 'John'))

Richard

In [6]:
def who(first, last) :  # 'first' and 'last' are the parameters(or variables)
    print('Your first name is :', first)
    print('Your last name is :', last)

who('Guido', 'van Rossum')  # 'Guido' and 'van Rossum' are the arguments
print()
who('Marry', 'Bold')  # 'Marry' and 'Bold' are also the arguments

Your first name is : Guido
Your last name is : van Rossum

Your first name is : Marry
Your last name is : Bold

In [10]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

In [8]:
parrot(1000)                                          # 1 positional argument
parrot(voltage=1000)                                  # 1 keyword argument
parrot(voltage=1000000, action='VOOOOOM')             # 2 keyword arguments
parrot(action='VOOOOOM', voltage=1000000)             # 2 keyword arguments 
parrot('a million', 'bereft of life', 'jump')         # 3 positional arguments
parrot('a thousand', state='pushing up the daisies')  # 1 positional, 1 keyword

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !
-- This parrot wouldn't voom if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !

In [12]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

In [14]:
parrot()                     # required argument missing
parrot(voltage=5.0, 'dead')  # non-keyword argument after a keyword argument
parrot(110, voltage=220)     # duplicate value for the same argument
parrot(actor='John Cleese')  # unknown keyword argument

SyntaxError: positional argument follows keyword argument (<ipython-input-14-803d088df6c6>, line 2)

In [17]:
def city(capital, continent='Europe'):
    print(capital, 'in', continent)

city('Athens')  # we don't have to pass any arguments into 'continent'
city('Ulaanbaatar', continent='Asia')  # we can change the default value by kwargs
city('Cape Town', 'Africa')  # we can change the default value by positional args.

Athens in Europe
Ulaanbaatar in Asia
Cape Town in Africa

In [18]:
def fruiterer(fruit1, fruit2) :
    print('I want to get', fruit1, 'and', fruit2)
        
fruiterer('orange', 'banana')

I want to get orange and banana

In [19]:
def fruiterer(*fruit) :
    print('I want to get :')
    for i in fruit :
        print('-', i)
        
fruiterer('orange', 'banana', 'melon', 'ananas')

I want to get :
- orange
- banana
- melon
- ananas

In [20]:
def animals(**kwargs):
    for key, value in kwargs.items():
        print(value, "are", key)
 
animals(Carnivores="Lions", Omnivores="Bears", Herbivores="Deers", Nomnivores="Human")

Lions are Carnivores
Bears are Omnivores
Deers are Herbivores
Human are Nomnivores

In [21]:
def brothers(bro1, bro2, bro3):
    print('Here are the names of brothers :')
    print(bro1, bro2, bro3, sep='\n')

family = ['tom', 'sue', 'tim']
brothers(*family)

Here are the names of brothers :
tom
sue
tim

In [22]:
def gene(x, y):  # defined by positional args
    print(x, "belongs to Generation X")
    print(y, "belongs to Generation Y")
 
dict_gene = {'y' : "Marry", 'x' : "Fred"}
gene(**dict_gene)  # we call the function by a single argument(variable)

Fred belongs to Generation X
Marry belongs to Generation Y

In [23]:
def gene(x='Solomon', y='David'):  # defined by kwargs (default values assigned to x and y)
    print(x, "belongs to Generation X")
    print(y, "belongs to Generation Y")
 
dict_gene = {'y' : "Marry", 'x' : "Fred"}
gene(**dict_gene)

Fred belongs to Generation X
Marry belongs to Generation Y

In [27]:
def get_initial(name,force_uppercase):
    
    if force_uppercase:
        initial = name[0:1].upper()
   
    else:
        initial = name[0:1]
        
    return initial

first_name = input("Enter your first name: ")
first_name_initial = get_initial(first_name, False)


print("Your initials are:" + first_name_initial)

Enter your first name: ali
Your initials are:a

In [33]:
def get_initial(name,force_uppercase=True):
    
    if force_uppercase:
        initial = name[0:1].upper()
   
    else:
        initial = name[0:1]
        
    return initial

first_name = input("Enter your first name: ")
first_name_initial = get_initial(first_name)


print("Your initials are:" + first_name_initial)

Enter your first name: Ali
Your initials are:A

In [35]:
def get_initial(name,force_uppercase=True):
    
    if force_uppercase:                     #true olduğundan ilk blok dönüyor. False olsa else sonrası dönecek.
        initial = name[0:1].upper()
   
    else:
        initial = name[0:1]
        
    return initial

first_name = input("Enter your first name: ")
first_name_initial = get_initial(force_uppercase=True,name= first_name)


print("Your initials are:" + first_name_initial)

Enter your first name: ali
Your initials are:a

In [31]:
def error_logger(error_code, error_sevirity,log_to_db,\
                 error_message,source_module):
    print("oh no error:" + error_message)
    
first_number = 10
second_number = 5

if first_number > second_number:
    error_logger(45,1,True,\
                 "Second number greater than first","my_math_method")

oh no error:Second number greater than first

In [32]:
def error_logger(error_code, error_sevirity,log_to_db,\
                 error_message,source_module):
    print("oh no error:" + error_message)
    
first_number = 10
second_number = 5

if first_number > second_number:
    error_logger(error_code=45, error_sevirity=1,\
                 log_to_db=True,
                 error_message="Second number greater than first",\
                 source_module="my_math_method")

oh no error:Second number greater than first

In [36]:
def team_names(*teams) :
    print('The teams in Premier League are :')
    for i in teams :
        print('-', i)

team_names('Liverpool', 'M.United', 'M.City', 'Arsenal')

The teams in Premier League are :
- Liverpool
- M.United
- M.City
- Arsenal

In [37]:
def make_sentence(**kwargs):
    result = ""
    # Iterating over the Python kwargs dictionary
    for i in kwargs.values():
        result += i
    return result

print(make_sentence(a="I ", b="love ", c="Clarusway!"))

I love Clarusway!

In [ ]:
def team_league(team, league='Premier League'):
    print(team, 'in', league)

team_league('Liverpool')

In [ ]:
def my_function(first, last) : 
    print('Your first name is :', first)
    print('Your last name is :', last)

my_function(first='Richard', last='Rice')

In [38]:
my_var = 'outer variable'

def func_var(): 
	my_var= 'inner variable'
	print(my_var) 

func_var() 
print(my_var)

inner variable
outer variable

In [39]:
text = "I am the global one"
 
def global_func():
    print(text)  # we can use 'text' in a function
                 # because it's a global variable

global_func()  # 'I am the global one' will be printed
print(text)  # it can also be printed outside of the function
 
text = "The globals are valid everywhere "
 
global_func()  # we changed the value of 'text'
# 'The globals are valid everywhere' will be printed
 
def local_func():
    local_text = "I am the local one"
    print(local_text)  # local_text is a local variable

local_func()  # 'I am the local one' will be printed as expected
 
print(local_text)  # NameError will be raised
# because we can't use local variable outside of its function

I am the global one
I am the global one
The globals are valid everywhere
I am the local one

NameError: name 'local_text' is not defined

In [40]:
x = 10
def my_function_1(): 
    x = 20 
    print(x)
    
print(x)

10

In [41]:
variable = "global"

def func_outer():
    variable = "enclosing outer local"
    def func_inner():
        variable = "enclosing inner local"
        def func_local():
            variable = "local"
            print(variable)
        func_local()
    func_inner()
 
func_outer()  # prints 'local' defined in the innermost function
print(variable)  # 'global' level variable holds its value

local
global

In [42]:
count = 1

def print_global():
    print(count)
 
print_global()
 
def counter():
    print(count)
    count += 1  # we're trying to change its value
 
print()  # just empty line
counter()

1

UnboundLocalError: local variable 'count' referenced before assignment

In [43]:
count = 1

def counter():
    global count  # we've changed its scope
    print(count)  # it's global anymore
    count += 1
 
counter() 
counter()
counter()

1
2
3

In [44]:
def func_enclosing1():
    x = 'outer variable'
    def func_enclosing2():
        x = 'inner variable'
        print("inner:", x)
    func_enclosing2()
    print("outer:", x)

func_enclosing1()

inner: inner variable
outer: outer variable

In [45]:
def enclosing_func1():
    x = 'outer variable'
    def enclosing_func2():
        nonlocal x  # its inner-value can be used in the outer scope
        x = 'inner variable'
        print("inner:", x)
    enclosing_func2()
    print("outer:", x)

enclosing_func1()

inner: inner variable
outer: inner variable

In [46]:
x = 10
  
def my_function():  # fix me!
    x += 5 
    print(x)

In [ ]:
x = 10
  
def my_function(): 
    global x
    x += 5 
    print(x)

In [48]:
count = 1

def counter():
    count += 1
    print(count)  

counter()

UnboundLocalError: local variable 'count' referenced before assignment

In [49]:
count = 1

def counter():
    global count
    count += 1
    print(count)  

counter()

2

In [50]:
x = 10
def my_function_1(): 
    x = 20 
    print(x)
my_function_1()   #print(x) deseydik 10 verirdi.

20

In [53]:
y = 10  
def my_function_2(): 
    y += 5 
    print(y)
my_function_2()

UnboundLocalError: local variable 'y' referenced before assignment

In [54]:
y = 10  
def my_function_2(): 
    global y
    y += 5 
    print(y)
my_function_2()

15

In [55]:
def myfunc1():
  x = "hi"
  def myfunc2():
    nonlocal x
    x = "hello"
  myfunc2() 
  return x

print(myfunc1())

hello

In [56]:
x = 'My name is Richard'
def my_function_1(): 
    x = 'My name is John'
print(x)

My name is Richard

In [58]:
city = "I love Paris!"

def my_function(): 
    global city
    city = "I love London!"
    print(city)

In [59]:
def outer():
    x = "previous"
    
    def inner():
        nonlocal x
        x = "later"
        print("inner:", x)
    
    inner()
    print("outer:", x)

In [62]:
lambda x, y: (x+y)/2  # takes two numbers, returns the result

In [61]:
lambda x: 'odd' if x % 2 != 0 else 'even'

In [60]:
print((lambda x: x**2)(2))

4

In [63]:
print((lambda x, y: (x+y)/2)(3, 5))  # takes two int, returns mean of them

4.0

In [64]:
average = (lambda x, y: (x+y)/2)(3, 5) 
print(average)

4.0

In [65]:
average = lambda x, y: (x+y)/2
print(average(3, 5))  # we call

4.0

In [66]:
iterable = [1, 2, 3, 4, 5]
map(lambda x:x**2, iterable)
result = map(lambda x:x**2, iterable)
print(type(result))  # it's a map type

print(list(result))  # we've converted it to list type to print

print(list(map(lambda x:x**2, iterable)))  # you can print directly

<class 'map'>
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [67]:
def square(n):   # at least two additional lines of code
    return n**2  
  
iterable = [1, 2, 3, 4, 5]
result = map(square, iterable) 
print(list(result))

[1, 4, 9, 16, 25]

In [68]:
letter1 = ['o', 's', 't', 't']
letter2 = ['n', 'i', 'e', 'w']
letter3 = ['e', 'x', 'n', 'o']
numbers = map(lambda x, y, z: x+y+z, letter1, letter2, letter3)

print(list(numbers))

['one', 'six', 'ten', 'two']

In [69]:
first_ten = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] 
  
even = filter(lambda x:x%2==0, first_ten) 
print(type(even))  # it's 'filter' type, 
                   # in order to print the result,
                   # we'd better convert it into the list type

print('Even numbers are :', list(even))

<class 'filter'>
Even numbers are : [0, 2, 4, 6, 8]

In [70]:
vowel_list = ['a', 'e', 'i', 'o', 'u']
first_ten = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
  
vowels = filter(lambda x: True if x in vowel_list else False, first_ten) 

print('Vowels are :', list(vowels))

Vowels are : ['a', 'e', 'i']

In [80]:
number_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

result=list(filter(lambda x: x if x >= 6 else False , number_list))
result

[6, 7, 8, 9, 10]

In [81]:
def modular_function(n):
    return lambda x: x ** n
    
power_of_2 = modular_function(2)  # first sub-function derived from def
power_of_3 = modular_function(3)  # second sub-function derived from def
power_of_4 = modular_function(4)  # third sub-function derived from def

print(power_of_2(2))  # 2 to the power of 2
print(power_of_3(2))  # 2 to the power of 3
print(power_of_4(2))  # 2 to the power of 4

4
8
16

In [82]:
def repeater(n):
    return lambda x: x * n
    
repeat_2_times = repeater(2)  # repeats 2 times
repeat_3_times = repeater(3)  # repeats 3 times
repeat_4_times = repeater(4)  # repeats 4 times

print(repeat_2_times('alex '))
print(repeat_3_times('lara '))
print(repeat_4_times('linda '))

alex alex
lara lara lara
linda linda linda linda

In [84]:
def sum_double(x, y):
    if x == y:
        return (x+y)*2
    else :
        return(x+y)
sum_double(5,5)

20

In [87]:
def parrot_trouble(talking, hour):
    return (talking and (hour < 6 or hour > 21))
  # Need extra parenthesis around the or clause
  # since and binds more tightly than or.
  # and is like arithmetic *, or is like arithmetic +
print(parrot_trouble(True, 5))

True

In [112]:
def not_string(word):
    first_word = word.split(" ")[0].lower() 

    if "not" in first_word:
        print(word)
    else:
        print("not " + word)
        
print(not_string('not sugar'))

not sugar
None

In [110]:
def not_string(str):
    try:
        first_world = str.split()[0]
        if first_world.__contains__('not'):
            return str
        else:
            return 'not '+str
    except Exception:
        raise ValueError("not_string args must be not none and valid string")
    
    
if __name__ == '__main__':
    print(not_string('Bangladesh'))

not Bangladesh

In [122]:
def missing_char(word, n):
    front = word[:n]   # up to but not including n
    back = word[n+1:]  # n+1 through end of string
    return front + back 

print(missing_char('kitchen', 1))

ktchen

In [153]:
def front_back(word):
    
    if len(word) == 1:
        return word
    else: 
       
        back= word[(len(word))-1::]
        middle= word[1:(len(word)-1):] 
        front= word[0:1:]
    return (back+middle+front)
    
print(front_back('a'))

a

In [ ]:
def front_back(word):
    
    if len(word) == 1:
        print(word)
    else: 
       
        back= word[(len(word))-1::]
        middle= word[1:(len(word)-1):] 
        front= word[0:1:]
    return (back+middle+front)
    
print(front_back('a'))

In [169]:
def my_min(*num):
    return min(num)

print(my_min(-100))

-100

In [170]:
def count_greater(xs,v):
    return sum([item >= v for item in xs])

print (count_greater([12,0,20,34,0,20],3))

4

In [171]:
def my_sum(*num):
    return sum(num)
print(my_sum(10, -20, 30, 40))

60

In [176]:
def my_fact(n):
    fact = 1
    for num in range(2, n + 1):
        fact *= num
    return fact
print(my_fact(5))

120

In [177]:
import string as stg  # we've used alias for 'string' module

print(stg.punctuation)  # prints all available punctuation marks
print(stg.digits)  # prints all the digits

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
0123456789

In [178]:
import datetime

print(datetime.date.today())  # prints today's date (yyyy-mm-dd)
print(datetime.datetime.now())  # prints the current time in microseconds

2021-09-10
2021-09-10 20:28:58.223357

In [179]:
""" this is my first module & script """

def my_func1(x):
    return print(x**2)

def my_func2(y):
    return print(*y)

if __name__ == '__main__':  # output-generating statements are here
    print('hello')
    my_func1(3)
    my_func2("clarusway")

hello
9
c l a r u s w a y

In [ ]:
#def my_function_1(a, b):
#    area = a * b
#    return area

from module import my_function_1

area_1 = my_function_1(3,4)
area_2 = my_function_1(5,6)
area_3 = my_function_1(6,8)

In [ ]:
#def my_function_2(a, b):
#    hypotenuse = (a**2 + b**2)**0.5
#    return hypotenuse

from module import my_function_2

hypotenuse_1 = my_function_2(3,4)
hypotenuse_2 = my_function_2(6,8)
hypotenuse_3 = my_function_2(9,12)

In [180]:
pwd

'C:\\Users\\HP\\IT_NOTES\\PYTHON_NOTESS'

In [181]:
from upper_package import my_package_1,my_package_2

In [182]:
from upper_package.my_package_1 import my_module_1, my_module_2

In [183]:
dir(my_package_1)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'my_module_1',
 'my_module_2']

In [184]:
from upper_package.my_package_2 import my_module_3,my_module_4

In [185]:
dir(my_package_2)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'my_module_3',
 'my_module_4']

In [186]:
my_module_2.divide(12,4)

3.0

In [187]:
my_module_1.addition(10,-25)

-15

In [190]:
my_module_3.repeater("ali",3)

'alialiali'

In [192]:
my_module_3.concat_str("Merhaba ","Dünya")

'Merhaba Dünya'

In [193]:
my_package_1.__spec__

ModuleSpec(name='upper_package.my_package_1', loader=<_frozen_importlib_external.SourceFileLoader object at 0x000001A8169B9280>, origin='C:\\Users\\HP\\IT_NOTES\\PYTHON_NOTESS\\upper_package\\my_package_1\\__init__.py', submodule_search_locations=['C:\\Users\\HP\\IT_NOTES\\PYTHON_NOTESS\\upper_package\\my_package_1'])

In [195]:
import upper_package

In [197]:
dir(upper_package)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'my_package_1',
 'my_package_2']

In [198]:
from upper_package.my_package_1.my_module_2 import divide,hello

In [200]:
hello()

hello

In [201]:
divide(18,2)

9.0

In [202]:
import math

In [203]:
print(math.__doc__)

This module provides access to the mathematical functions
defined by the C standard.

In [204]:
print(my_module_2.__doc__)

This is module 2. Welcome!

In [205]:
print('Here we go!')
print('I will be the second text')
a = '3'
b = 5
print('It is time for an error message :(')
print(a + b)  # it won't be printed
print("Sorry, but I won't be printed")  # it won't be printed

Here we go!
I will be the second text
It is time for an error message :(

TypeError: can only concatenate str (not "int") to str

In [206]:
print(int('ten'))

ValueError: invalid literal for int() with base 10: 'ten'

In [208]:
print(variable)
variable = "Don't ever give up!"

Don't ever give up!

In [209]:
for i in range('x'):
    print(i)

TypeError: 'str' object cannot be interpreted as an integer

In [211]:
while True:
    no_one = int(input("The first number please : "))
    no_two = int(input("The second number please : "))
    division = no_one / no_two
    print("The result of the division is : ", division)
    break

The first number please : 10
The second number please : 0

ZeroDivisionError: division by zero

In [212]:
while True:
    no_one = int(input("The first number please : "))
    no_two = int(input("The second number please : "))
    try:
        division = no_one / no_two
        print("The result of the division is : ", division)
        break
    except:
        print("Something went wrong...Try again.")

The first number please : 10
The second number please : 0
Something went wrong...Try again.
The first number please : 5
The second number please : 5
The result of the division is :  1.0

In [ ]:
while True:
    no_one = int(input("The first number please : "))
    no_two = int(input("The second number please : "))
    try:
        division = no_one / no_two
        print("The result of the division is : ", division)
        break
    except ZeroDivisionError:
        print("You can't divide by zero! Try again.")

In [3]:
while True:
    no_one = int(input("The first number please : "))
    no_two = int(input("The second number please : "))
    try:
        division = no_one / no_two  # normal part of the program
    except ZeroDivisionError:
        print("You can't divide by zero! Try again.")  # executes when division by zero
    else:
        print("The result of the division is : ", division)  # executes if there is no exception
    finally:
        print("Thanks for using our mini divison calculator! Come again!")
        break  # exits the while loop

The first number please : 7
The second number please : k

ValueError: invalid literal for int() with base 10: 'k'

In [6]:
while True:
    no_one = int(input("The first number please : "))
    no_two = int(input("The second number please : "))
    try:
        division = no_one / no_two
        print("The result of the division is : ", division)
        break
    except Exception as e:
        print("Something went wrong...Try again.")
        print("Probably it is because of '{}' error".format(e))
        break

The first number please : 7
The second number please : k

ValueError: invalid literal for int() with base 10: 'k'

In [7]:
try :
    a = 10
    b = 2
    print("The result of division is :", c)
except Exception as e:
    print("The error message is : ", e)

The error message is :  name 'c' is not defined

In [8]:
try:
    x = 4 / 1
except:
    print('Something went wrong')
else:
    print('Nothing went wrong')

Nothing went wrong

In [9]:
try:
	x = 3 / 0
except:
	print('Something went wrong')
finally:
	print('Always execute this')

Something went wrong
Always execute this

In [11]:
try:
    f = open('myfile.txt')
    print(f.read())
except:
    print("Something went wrong")
finally:
    f. close()

Something went wrong

NameError: name 'f' is not defined

In [ ]:
try:
    x = 2/0
except ZeroDivisionError:
    print('Attempt to divide by zero')
except:
    print('Something else went wrong')

In [ ]:
....
except:
    print("Unknown exception error occured. Tyr again please.")

In [ ]:
....
except ZeroDivisionError:
   print("You can't divide by zero!!")
except ValueError:
   print("You can only enter numbers consisting of digits, not text!!")

In [ ]:
....
except (ValueError, TypeError):
    print("You can only enter numbers consisting of digits, not text!!")

In [12]:
try:
  print("Hello")
except:
  print("Something went wrong")
else:
  print("Everything is okay")

Hello
Everything is okay

In [13]:
try:
  print(x)
except:
  print("Something is wrong")
finally:
  print("The 'try except' is completed")

4.0
The 'try except' is completed

In [ ]:
my_file = open("first_file.txt")  # this syntax opens a 'txt' file 

print(type(my_file))

In [ ]:
my_file = open("first_file.txt", encoding="utf-8")
# we've used 'utf8' encoding format just the same as the previous one

In [14]:
sea = open("fishes.txt", 'r')   

print(sea.read())  # displays the entire text content

sea.close()  # be sure to close the file

Orca is a kind of Dolphin.
Blue Whale is the largest animal known on earth.
Sharks are the sister group to the Rays (batoids).
The Tuna Fish can weigh up to 260 kg.
Squid and Octopus are in the same class.

In [15]:
sea = open("fishes.txt", 'r')   

print(sea.read(33))  # displays the first 33 chars of the text
print()
print(sea.read(25))  # displays the next 25 chars of the text
print()
sea.seek(0)  # changes the stream (cursor) position to zero
print(sea.read(33))  # displays the first 33 chars again
print()
print(sea.tell())  # returns the current stream (cursor) position

sea.close()

Orca is a kind of Dolphin.
Blue W

hale is the largest anima

Orca is a kind of Dolphin.
Blue W

34

In [16]:
my_file = open("fishes.txt", 'r')   
print(my_file.read(5)) 
my_file.close()

Orca

In [17]:
sea = open("fishes.txt", 'r')   

print(sea.readline())  # displays the first line of the text
print(sea.readline())  # displays the second line
print(sea.readline())  # each time it goes to the new line

sea.close()

Orca is a kind of Dolphin.

Blue Whale is the largest animal known on earth.

Sharks are the sister group to the Rays (batoids).

In [18]:
sea = open("fishes.txt", 'r')   

print(sea.readline(13))
print(sea.readline(13))
print(sea.readline(13))
print(sea.readline(13))

sea.close()

Orca is a kin
d of Dolphin.


Blue Whale is

In [19]:
sea = open("fishes.txt", 'r')   

print(sea.readlines())

sea.close()

['Orca is a kind of Dolphin.\n', 'Blue Whale is the largest animal known on earth.\n', 'Sharks are the sister group to the Rays (batoids).\n', 'The Tuna Fish can weigh up to 260 kg.\n', 'Squid and Octopus are in the same class.']

In [20]:
sea = open("fishes.txt", 'r')   

print(sea.readline())  # first line
print(sea.readlines())  # the rest of the lines

sea.close()

Orca is a kind of Dolphin.

['Blue Whale is the largest animal known on earth.\n', 'Sharks are the sister group to the Rays (batoids).\n', 'The Tuna Fish can weigh up to 260 kg.\n', 'Squid and Octopus are in the same class.']

In [21]:
sea = open("fishes.txt", 'r')   

print(type(sea.readlines()))

sea.close()

<class 'list'>

In [22]:
sea = open("fishes.txt", 'r')   

for line in sea:
    print(line)

sea.close()

Orca is a kind of Dolphin.

Blue Whale is the largest animal known on earth.

Sharks are the sister group to the Rays (batoids).

The Tuna Fish can weigh up to 260 kg.

Squid and Octopus are in the same class.

In [23]:
sea = open("fishes.txt", 'r')   

for line in sea.readlines():
    print(line)

sea.close()

Orca is a kind of Dolphin.

Blue Whale is the largest animal known on earth.

Sharks are the sister group to the Rays (batoids).

The Tuna Fish can weigh up to 260 kg.

Squid and Octopus are in the same class.

In [24]:
with open("fishes.txt", "r") as sea:
    print(sea.read())  # needs indented code block

Orca is a kind of Dolphin.
Blue Whale is the largest animal known on earth.
Sharks are the sister group to the Rays (batoids).
The Tuna Fish can weigh up to 260 kg.
Squid and Octopus are in the same class.

In [26]:
my_file = open("fishes.txt", 'r')   

for x in my_file.readlines():
    print(x)
my_file.close()

Orca is a kind of Dolphin.

Blue Whale is the largest animal known on earth.

Sharks are the sister group to the Rays (batoids).

The Tuna Fish can weigh up to 260 kg.

Squid and Octopus are in the same class.

In [27]:
with open("dummy_file.txt", 'w', encoding="utf-8") as file:  
# we create and open the file

    file.write('This is the first line of my text file')  
    # writes str data into file

with open("dummy_file.txt", 'r', encoding="utf-8") as file:
    print(file.read())  # reads the content of the 'dummy_file'

This is the first line of my text file

In [28]:
with open("dummy_file.txt", 'w', encoding="utf-8") as file:
    file.write('This is the new line for my dummy_file')  
    # we write new str data into it 

with open("dummy_file.txt", 'r', encoding="utf-8") as file:
    print(file.read())  # reads the content of the 'dummy_file'

This is the new line for my dummy_file

In [29]:
with open("dummy_file.txt", 'w', encoding="utf-8") as file:
    file.write('My first sentence')
    file.write('My second sentence,')
    file.write('My third sentence\n')
    file.write('My fourth sentence ')
    file.write('My last sentence')

with open("dummy_file.txt", 'r', encoding="utf-8") as file:
    print(file.read())

My first sentenceMy second sentence,My third sentence
My fourth sentence My last sentence

In [30]:
fruits = ['Banana', 'Orange', 'Apple', 'Strawberry', 'Cherry']

with open("fruits.txt", 'w', encoding="utf-8") as file:
    for basket in fruits:
        file.write(basket + '\n')  # adds a newline character to each string
   
with open("fruits.txt", 'r', encoding="utf-8") as file:
    print(file.read())

with open("fruits.txt", 'r', encoding="utf-8") as file:
    print(file.readlines())  # reads and displays entire lines in a list

Banana
Orange
Apple
Strawberry
Cherry

['Banana\n', 'Orange\n', 'Apple\n', 'Strawberry\n', 'Cherry\n']

In [31]:
fruits = ['Banana\n', 'Orange\n', 'Apple\n', 'Strawberry\n', 'Cherry\n']

with open("fruits.txt", 'w', encoding="utf-8") as file:
    file.writelines(fruits)  # takes an iterator for writing
   
with open("fruits.txt", 'r', encoding="utf-8") as file:
    print(file.read())

with open("fruits.txt", 'r', encoding="utf-8") as file:
    print(file.readlines())

Banana
Orange
Apple
Strawberry
Cherry

['Banana\n', 'Orange\n', 'Apple\n', 'Strawberry\n', 'Cherry\n']

In [35]:
colors = ['red', 'green', 'yellow', 'white', 'black']

with open("new_file.txt", 'w', encoding="utf-8") as file:
    for line in colors:
        file.write(line + "\n")  # adds a newline character

In [36]:
fruits = ['Banana\n', 'Orange\n', 'Apple\n', 'Strawberry\n', 'Cherry\n']

with open("fruits.txt", 'w', encoding="utf-8") as file:
    file.writelines(fruits)  # creates a file containing the elements of the list

with open("fruits.txt", 'r', encoding="utf-8") as file:
    print(file.read())  # reads the content of the file

with open("fruits.txt", 'a', encoding="utf-8") as file:
    file.write('Melon\n')  # adds "Melon" to the end of the existing file
   
with open("fruits.txt", 'r', encoding="utf-8") as file:
    print(file.read())  # reads the last content of the file

with open("fruits.txt", 'r', encoding="utf-8") as file:
    print(file.readlines())

Banana
Orange
Apple
Strawberry
Cherry

Banana
Orange
Apple
Strawberry
Cherry
Melon

['Banana\n', 'Orange\n', 'Apple\n', 'Strawberry\n', 'Cherry\n', 'Melon\n']

In [37]:
with open("fruits.csv", 'r', encoding="utf-8") as file:
    print(file.read())

no,fruit,amount
1,Banana,4 lb
2,Orange,5 lb
3,Apple,2 lb
4,Strawberry,6 lb
5,Cherry,3 lb

In [38]:
import csv  # loads csv module

with open("fruits.csv", 'r', newline = '', encoding = 'utf-8') as file:
    csv_rows = csv.reader(file)  # reader() function takes each
                                 # row (lines) into a list
    for row in csv_rows: 
        print(row)

['no', 'fruit', 'amount']
['1', 'Banana', '4 lb']
['2', 'Orange', '5 lb']
['3', 'Apple', '2 lb']
['4', 'Strawberry', '6 lb']
['5', 'Cherry', '3 lb']

In [39]:
import csv

with open("fruits.csv", 'r', newline = '', encoding = 'utf-8') as file:
    csv_rows = csv.reader(file, delimiter= ",")  # gives the same output as the previous one
                                 
    for row in csv_rows: 
        print(row)

['no', 'fruit', 'amount']
['1', 'Banana', '4 lb']
['2', 'Orange', '5 lb']
['3', 'Apple', '2 lb']
['4', 'Strawberry', '6 lb']
['5', 'Cherry', '3 lb']

In [40]:
import csv 

with open("fruits.csv", 'r', newline = '', encoding = 'utf-8') as file:
    csv_rows = csv.reader(file, delimiter = ':')  # we specified a char ":" that is not used
                                                  # in the csv file as a value of delimiter
    for row in csv_rows: 
        print(row)

['no,fruit,amount']
['1,Banana,4 lb']
['2,Orange,5 lb']
['3,Apple,2 lb']
['4,Strawberry,6 lb']
['5,Cherry,3 lb']

In [1]:
class Human: 

    age=15	

    def __init__(self, name): 

         self._name = name 

hmn_1 = Human('Corey')

hmn_1.age = 20

print(Human.age)

15

In [2]:
print(hmn_1.age)

20

In [3]:
class Dog:

    def __init__(self, name, age):

        self.name = name

        self.age = age

class Terrier(Dog):

    pass

class Dachshund(Dog):

    pass

class Bulldog(Dog):

    pass

dog1 = Terrier("Miles", 4)

dog2 = Dachshund("Buddy", 9)

dog3 = Bulldog("Jack", 3)

dog4 = Bulldog("Jim", 5)

In [4]:
isinstance(dog1, Bulldog)

False

In [5]:
isinstance(dog3, Dog)

True

In [6]:
isinstance(dog1, Dog)

True

In [7]:
isinstance(dog4, Dog)

True

In [8]:
isinstance(dog2, Bulldog)

False

In [9]:
isinstance(dog2, Bulldog)

False

In [10]:
issubclass(Dachshund, Terrier)

False

In [11]:
isinstance(dog1, Dog)

True

In [12]:
isinstance(dog4, Dog)

True

In [13]:
issubclass(Bulldog, Dachshund)

False

In [14]:
issubclass(Terrier, Dog)

True

In [18]:
class A:
	def __init__(self,b):
		self.b=b
	def display(self):
		print(self.b)
obj=A("Hello")
del obj

In [19]:
class Car:
      pass
class Buggati(Car):
      pass

In [20]:
issubclass(Buggati, Car)

True

In [21]:
issubclass(Car, Buggati)

False

In [22]:
class Human: 

    age=15	

    def __init__(self, name): 

         self._name = name

In [23]:
hmn_1 = Human('Corey')

print(hmn_1.age)

15

In [24]:
Human.age =21

print(hmn_1.age)

21

In [25]:
hmn_1.age = 20

print(Human.age)

21

In [26]:
class Dog:
    def walk(self):
         return "walking..."
    def speak(self):
         return "Woof!"

class BabyDog(Dog):
    def speak(self):
         return "Arff!"

dog = BabyDog()
dog.walk()

'walking...'

In [28]:
 class Cat:
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [2]:
class Cat:

     def __init__(self, name, age):

       	self.name = name

       	self.age = age

    def full_sentence(self):

         return "{}  {}".format(self.name, self.age)


cat= Cat("Tiger", 10)

print(cat.full_sentence()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 9)

In [3]:
class Dog:
    def walk(self):
         return "walking..."
    def speak(self):
         return "Woof!"

class BabyDog(Dog):
    def speak(self):
         return "Arff!"

dog = BabyDog()
dog.speak()

'Arff!'

In [4]:
class Human: 

    def __init__(self, age = 0): 

        self._age = age 

    def get_age(self): 

        return self._age 

    def set_age(self, x): 

        self._age = x 

human1 = Human() 

human1.set_age(21) 

print(human1.get_age())

21

In [5]:
class Human: 

    def __init__(self, age = 0): 

        self._age = age 

    def get_age(self): 

        return self._age 

    def set_age(self, x): 

        self._age = x 

human1 = Human() 

human1.set_age(21) 

del human1

print(human1.get_age())

NameError: name 'human1' is not defined

In [6]:
class Marketing:
    def __init__(self, id):
        self.id = id
        id = 50
val = Marketing(33)
print(val.id)

33